DATABASE_HOST = "host"
DATABASE_USER = "user"
DATABASE_PASSWORD = "pass"
DATABASE_NAME = "temp"
DATABASE_URL="mysql://user:pass@host:3306/temp"
PORT=3000
TOKEN_SECRET_KEY="tu_secret_key_segura_aqui"
TOKEN_ACCESS_TIME="8h"
TOKEN_REFRESH_TIME="7d"