OPENWEATHER_API_KEY="api_key_aqui" # Reemplaza con tu clave de API de OpenWeather
GMAIL_USER="user_email_aqui" # Reemplaza con tu dirección de correo electrónico de Gmail
GMAIL_APP_PASSWORD="app_password_aqui" # Reemplaza con tu contraseña de aplicación de Gmail (no tu contraseña normal)
CRON_TIMEZONE="America/Hermosillo"  # Reemplaza con tu zona horaria, por ejemplo, "America/Hermosillo" o "America/New_York"
DATABASE_HOST = "127.0.0.1" # Reemplaza con la dirección de tu servidor de base de datos, por ejemplo, "127.0.0.1"
DATABASE_USER = "user" # Reemplaza con tu nombre de usuario de la base de datos
DATABASE_PASSWORD = "password" # Reemplaza con tu contraseña de la base de datos
DATABASE_NAME = "example_db" # Reemplaza con el nombre de tu base de datos
DATABASE_URL="mysql://user:password@127.0.0.1:3306/example_db" # Reemplaza con la URL de conexión a tu base de datos, por ejemplo, "mysql://user:password@
PORT=3000 # Reemplaza con el puerto en el que deseas que tu aplicación escuche, por ejemplo, 3000
TOKEN_SECRET_KEY="tu_secret_key_segura_aqui" # Reemplaza con una clave secreta segura para firmar tus tokens, por ejemplo, "mi_clave_secreta_super_segura"
TOKEN_ACCESS_TIME="8h" # Reemplaza con el tiempo de expiración para los tokens de acceso, por ejemplo, "8h" para 8 horas
TOKEN_REFRESH_TIME="7d" # Reemplaza con el tiempo de expiración para los tokens de actualización, por ejemplo, "7d" para 7 días
REDIS_HOST="127.0.0.1" # Host de Redis (Usar "redis" dentro de docker-compose)
REDIS_PORT=6379 # Puerto de Redis
REDIS_PASSWORD="" # Contraseña de Redis (opcional)
SENTRY_DSN="" # URL del DSN de Sentry para reporte de errores (opcional)